html {
    scroll-behavior: smooth;
}

body {
    background-color: burlywood;
}

h1 {

    border: 3px solid black;
    border-radius: 10px;
    color: green;
    font-family: Montserrat, helvetica, arial;
}

p {
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted orange;
    border-right: 3px dotted green;

    font-family: helvetica, "lucida console", "courier new";
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;

}

.odd {
    color: red;
}

.even {
    color: blue
}